@import 'nav.css';
@import 'fish.css';
@import 'tips.css';

@import url('https://fonts.googleapis.com/css?family=Lato:400,400i,700,700i,900&display=swap');

body {
    font-family: 'Lato', Arial, Helvetica, sans-serif;
    background: url(/images/background.jpg) no-repeat center center fixed;
    background-size: cover;
    height: 100%;
    overflow: hidden;
}

.container {
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;
}

.bordered {
    border: 1px dashed goldenrod;
}