.tipList {
    background-color: rgba(255, 255, 255, .6);
    margin-left: 1em;
    flex-basis: 20%;
    min-width: 200px;
    padding: .5em;
}

.tipList {
    flex-basis: 20%;
}

.tipTitle {
    margin: 0;
    font-size: 1.5em;
    font-family: 'Permanent Marker', serif;
    text-align: center;
}

.tip {
    margin-bottom: 1em;
}

ul {
    padding-left: 2rem;
    list-style-type: none;
    margin-bottom: 1em;
}

ul li {
    padding-left: 2rem;
    background-image: url('/images/fishicon.png');
    background-position: 0 5px;
    /* background-size: 1rem 1rem; */
    background-repeat: no-repeat;
}