.tipList {
    background-color: rgba(255, 255, 255, .75);
    margin-left: 1em;
    flex-basis: 20%;
    min-width:200px;
    padding:.5em;
}

.tipList {
    flex-basis: 20%;
}

.tipTitle {
    margin:0;
    font-size:1.5em;
    font-family: 'Permanent Marker', serif;
    text-align: center;
}

.tip {
    margin: 1rem 0 2rem 0;
}